@media (max-width: 1199px) {
    .feedback-info{
        line-height: 24px;
    }
}

@media (max-width: 991px) {
    .feedback-info{
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .feedback{
        background-image: url(../img/footer-bg-560.jpg);
    }
    .feedback-inner,
    .feedback-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feedback-img{
        margin: 0;
        margin-bottom: 16px;
    }
    .feedback{
        padding: 40px 0;
    }
    .feedback-info{
        max-width: 354px;
        margin: 0 auto;
        margin-bottom: 25px;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .btn{
        max-width: none;
    }
}

@media (min-width: 1200px) {
}
