@media (max-width: 1199px) {
}

@media (max-width: 991px) {

	.text-page p + p {
		margin-top: 22px;
	}
	.breadcrumbs-title {
		font-size: 36px;
		line-height: 40px;
		text-align: center;
	}
	.breadcrumbs-inner {
		margin-bottom: 40px;
	}
	.page-inner.text-page-inner {
		padding-bottom: 70px;
	}

	.text-page h2 {
		margin: 38px 0 16px;
	}
	.text-page h2 {
		font-size: 24px;
		line-height: 38px;
	}
	.text-page + .text-page{
		margin-top: 40px;
	}
	.text-page h4{
		margin: 25px 0 23px;
	}
	.responsive-table{
		margin-top: 48px;
	}
	.breadcrumbs-inner.mod{
		margin-bottom: 40px;
	}
	.text-page blockquote{
		padding-right: 40px;
	}
	.text-page .img-left,
	.text-page .img-right{
		max-width: calc(50% - 15px)
	}
	.text-page .img-left{
		margin: 0px 29px 20px 0;
	}
	.text-page .img-right{
		margin: 21px 0 21px 29px;
	}
}

@media (max-width: 767px) {
	.text-page .img-left,
	.text-page .img-right {
		float: none;
		display: block;
		max-width: 100%;
		margin: 20px 0 16px;
	}

	.responsive-table{
		margin-top: 34px;
	}
	.text-page blockquote{
		margin: 34px 0 34px;
	}
	.text-page h4{
		margin: 30px 0 23px;
	}
	.text-page + .text-page{
		margin-top: 35px;
	}
	.breadcrumbs-title {
		font-size: 24px;
		line-height: 32px;
		margin-top: 8px;
	}
	.breadcrumbs-inner {
		margin: 27px 0 32px;
	}
	.page-inner,
	.page-inner.text-page-inner {
		padding-bottom: 60px;
	}
	.responsive-table tr td span {
		display: none;
	}
	.text-page blockquote{
		padding: 23px 0;
	}
	.text-page blockquote{
		background-position: 16px 30px;
	}
	.text-page blockquote p,
	.text-page blockquote h4{
		padding-left: 63px;
	}
	.breadcrumbs-inner.mod{
		margin-bottom: 30px;
	}
	.text-page blockquote{
		padding-right: 26px;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
