@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .footer-inner{
        align-items: start;
    }
.footer-box{
    flex-direction: column;
    gap: 4px;
    max-width: none;
		align-items: start;
}
}

@media (max-width: 575px) {
    .footer-inner{
        flex-direction: column;
        gap: 4px;

    }
}

@media (min-width: 1200px) {
}
