@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.footer-inner{
		align-items: start;
	}
	.footer-inner{
		flex-wrap: wrap;
	}
}

@media (max-width: 575px) {
	.footer-inner{
		flex-direction: column;
		gap: 4px;
	
	}
	.footer-item.mod{
		order: 0;
	  }

}

@media (min-width: 768px) {
	.footer-item.mod{
		order: 1
	  }
}
