@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.modal-call,
	.modal-done,
	.modal-feedback{
		padding-left: 15px;
		padding-right: 15px;
	}
	.modal-feedback-title{
		font-size: 20px;
		line-height: 24px;
	}
	.modal-feedback-subtitle{
		font-size: 14px;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
