
@mixin bgi {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin no-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

@mixin container-img {
    position: relative;
    height: 0;
}

@mixin img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}