*,
::after,
::before,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: Raleway,sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background: #f7f7f7;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  scrollbar-width: thin
}
body.hide-overflow-mobile,
html.hide-overflow-mobile {
  overflow: hidden
}
body::-webkit-scrollbar {
  display: none
}
form {
  width: 100%
}
a,
button {
  cursor: pointer;
  outline: 0
}
.wrapper-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}
.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0
}
.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0
}
.wrapper-page textarea::-webkit-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::-moz-placeholder {
  opacity: 1
}
.wrapper-page textarea:-ms-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::-ms-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::placeholder {
  opacity: 1
}
.wrapper-page a {
  text-decoration: none
}
li,
ul {
  display: inline-block;
  text-decoration: none;
  padding: 0
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.page-inner {
  padding-bottom: 80px
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.btn {
  background: #fe000c;
  border: none;
  padding: 12px 0;
  margin: 0;
  -webkit-box-shadow: 0 5px 5px rgba(254,0,12,.15);
  box-shadow: 0 5px 5px rgba(254,0,12,.15);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: center
}
.btn:hover {
  -webkit-box-shadow: 0 5px 10px rgba(254,0,12,.5);
  box-shadow: 0 5px 10px rgba(254,0,12,.5)
}
.btn-wh {
  background: #fff;
  border: none;
  padding: 12px 0;
  margin: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.05);
  box-shadow: 0 5px 5px rgba(0,0,0,.05);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #333
}
.btn-wh:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header-logo {
  background-image: url(../img/svg/logo.svg);
  width: 254px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.header-bottom-wrapper {
  display: none
}
.header-top-ico svg path {
  fill: #999
}
.header.sticky .menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-bottom-inner {
  width: 100%
}
.header-wrapper.open-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff
}
.header.shadow {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff
}
.header.sticky .header-wrapper {
  padding: 8px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
  box-shadow: 0 5px 10px rgba(0,0,0,.1)
}
.header.sticky .header-bottom {
  padding: 0
}
.header.sticky .header-logo-title,
.header.sticky .header-top {
  display: none
}
.header.sticky .header-bottom-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header.sticky ul.menu-list li {
  height: auto
}
.header.sticky ul.menu-list li + li {
  margin-left: 40px
}
.header.sticky ul.menu-list li:last-child {
  margin-left: 55px
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-logo-title {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: .12em;
  text-transform: uppercase;
  color: #999;
  display: block;
  text-align: right;
  white-space: nowrap
}
.header-bottom,
.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-top {
  padding: 8px 0;
  border-bottom: 1px solid #eee
}
.header-bottom {
  padding: 18px 0 16px
}
.menu-btn {
  display: none
}
ul.menu {
  width: 100%
}
ul.menu-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}
ul.menu-list li {
  height: 23px
}
.header-top-locat,
.header-top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-top-locat img,
.header-top-locat svg,
.header-top-phone img,
.header-top-phone svg {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 7px
}
.header-top-locat-city span {
  font-size: 14px;
  line-height: 17px;
  color: #333;
  border-bottom: 1px dashed #333;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s
}
.header-top-phone-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #333
}
.ico-bar a svg {
  width: 28px;
  height: 28px
}
.ico-bar a + a {
  margin-left: 8px
}
.header-nav-box {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%
}
li.header-bottom-phone {
  display: none
}
.menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  position: relative;
  display: block;
  min-height: 48px
}
.menu-link:hover {
  color: #8dbe22
}
.header-top-locat a span:hover {
  color: #224d93;
  border-bottom: 1px dashed #224d93
}
.header-top-ico.ico-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.ico-bar-social {
  width: 28px;
  height: 28px
}
.ico-bar-social:hover path {
  fill: #8dbe22
}
.header-top-locat-country span {
  font-size: 14px;
  line-height: 17px;
  color: #333;
  border-bottom: 1px dashed #333;
  cursor: pointer;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  margin-left: 10px;
  margin-right: 30px
}
.header-top-locat-country img {
  width: 24px;
  height: 16px;
  margin: 0;
  border-radius: 2px
}
.header-top-locat-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-top-locat-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.header-bottom-locat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.header-top-locat-city svg {
  position: relative;
  top: -1px
}
ul.header-bottom-locat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0
}
ul.header-bottom-locat-wrapper .header-bottom-city span {
  font-size: 15px;
  line-height: 18px;
  color: #333;
  border-bottom: 1px dashed #333
}
ul.header-bottom-locat-wrapper a {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px
}
.header-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header-top-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 44px
}
.header-top-mail img,
.header-top-mail svg {
  margin-right: 6px;
  width: 24px;
  height: 24px
}
.header-top-mail span {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  border-bottom: 1px dashed #8dbe22
}
.header-top-mail span:hover {
  color: #8dbe22
}
.header-top-btn {
  background: #8dbe22;
  border: none;
  padding: 4px 17px;
  margin: 0 0 0 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  border-radius: 333px;
  color: #fff
}
.header-top-btn:hover {
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),#8dbe22;
  background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,.1)),#8dbe22;
  background: linear-gradient(0deg,rgba(255,255,255,.1),rgba(255,255,255,.1)),#8dbe22;
  -webkit-box-shadow: 0 5px 10px rgba(141,190,34,.5);
  box-shadow: 0 5px 10px rgba(141,190,34,.5);
  border-radius: 333px
}
.tan {
  margin-left: 44px;
  border: 1px solid #848488;
  border-radius: 333px;
  width: 32px;
  height: 32px;
  background: #fff
}
.tan ul {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center
}
.tan.open-menu {
  border: none
}
.tan-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 3px;
  padding-right: 4px;
  text-transform: uppercase;
  padding-left: 1px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  color: #848488
}
.tan .submenu {
  visibility: hidden;
  background: #fff;
  margin-left: -1px;
  border: 1px solid #848488;
  border-radius: 333px;
  padding: 3px 0;
  width: 32px
}
.tan .submenu a {
  padding-left: 1px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #848488;
  display: block
}
.tan .submenu a:hover {
  font-weight: 700;
  color: #8dbe22
}
.tan.open-menu img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.tan.open-menu .submenu {
  visibility: visible
}
.submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative
}
.topmenu > li:last-child {
  margin-right: 0
}
@media (max-width:1366px) {
  .submenu .topmenu:hover > .header-sub-submenu-city {
    max-height: 492px
  }
}
@media (max-width:1199px) {
  .header.sticky .header-top .tan {
    display: none
  }
  .header.sticky .header-top-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header-bottom-icons .submenu {
    top: auto;
    bottom: 0
  }
  .header-top .header-top-ico.ico-bar {
    display: none
  }
  .header-bottom-icons-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .tan {
    margin-left: 57px
  }
  .header-top-mail {
    margin-left: 49px
  }
  .submenu .topmenu:hover > .header-sub-submenu-city {
    max-height: 634px
  }
  .header-bottom-city,
  .header-logo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header-bottom-city svg {
    position: relative;
    top: -1px
  }
  .header.sticky .header-wrapper {
    padding: 6px 0
  }
  .header.sticky .header-wrapper ul.menu-list {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    display: block
  }
  .header.sticky .header-wrapper .header-logo svg {
    width: 101px;
    height: 40px
  }
  .header.sticky .header-wrapper .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .header.sticky .header-wrapper .menu-btn span {
    display: block;
    width: 32px;
    margin-bottom: 5px;
    background: #333;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: relative;
    top: 11px
  }
  .header.sticky .header-wrapper .menu-btn.open-menu .menu-btn-top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px
  }
  .header.sticky .header-wrapper .menu-btn.open-menu .menu-btn-medium {
    opacity: 0
  }
  .header.sticky .header-wrapper .menu-btn.open-menu .menu-btn-bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -14px
  }
  .header.sticky .header-wrapper .header-bottom {
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: #f8f8f8;
    padding-top: 18px
  }
  .header.sticky .header-wrapper .menu-list,
  .header.sticky .header-wrapper .menu-list li {
    display: block
  }
  .header.sticky .header-wrapper .menu-list li:hover {
    background: #224d93
  }
  .header.sticky .header-wrapper .menu-list li:hover a {
    color: #fff
  }
  .header.sticky .header-wrapper .menu-list li a {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    padding: 13px 15px 17px
  }
  .header.sticky .header-wrapper .menu-link {
    display: block;
    margin-bottom: 30px
  }
  .header.sticky .header-wrapper .noscroll {
    overflow: hidden
  }
  .header.sticky .header-wrapper .header-bottom-phone-link {
    display: none
  }
  .header.sticky .header-wrapper .header-bottom-wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background: #f8f8f8
  }
  .header.sticky .header-wrapper .header-bottom-icons-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header.sticky .header-wrapper .header-bottom-icons {
    width: 100%;
    background: #eee;
    padding: 8px 0;
    margin-top: 32px;
    max-width: 100%
  }
  .header.sticky .header-wrapper .header.sticky .menu-list li + li {
    margin: 0
  }
  .header.sticky .header-wrapper .header-bottom-locat {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .header.sticky .header-wrapper .header.sticky .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .header.sticky .header-wrapper .header-bottom-icons-inner a + a {
    margin-left: 8px
  }
  .header.sticky .header-wrapper .header-bottom-city svg {
    margin-right: 6px
  }
  .header.sticky .header-wrapper .header-top {
    border-bottom: none;
    padding: 12px 0
  }
  .header.sticky .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    height: 40px;
    opacity: 1;
    margin-right: 14px
  }
  .header.sticky .menu-btn.open-menu body {
    overflow: hidden
  }
  .header.sticky .menu-btn.open-menu .menu-btn-medium {
    opacity: 0
  }
  .header.sticky .menu-btn.open-menu .menu-btn-bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -14px
  }
  .header.sticky .menu-btn.open-menu .menu-btn-top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px
  }
  .header.sticky ul.menu-list li + li {
    margin: 0
  }
  .header-top {
    border: none
  }
  .header-top-locat-country span {
    margin-right: 15px
  }
}
@media (max-width:991px) {
  .header-bottom-icons-inner,
  ul.header-bottom-locat-wrapper a {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
  }
  .header-top-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header-logo {
    width: 215px;
    height: 48px
  }
  .header-top .header-top-mail,
  .header-top .tan {
    display: none
  }
  ul.menu-list li {
    height: auto
  }
  .header.sticky .header-wrapper .header-bottom-locat,
  .header.sticky .header-wrapper .menu-list li a {
    max-width: 720px
  }
  ul.menu-list {
    display: block;
    max-height: calc(100vh - 180px);
    overflow-y: auto
  }
  .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    height: 40px;
    margin-right: 14px;
    opacity: 1
  }
  .menu-btn.open-menu body {
    overflow: hidden
  }
  .menu-btn span {
    display: block;
    width: 32px;
    margin-bottom: 5px;
    background: #333;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: relative;
    top: 11px
  }
  .menu-btn.open-menu .menu-btn-top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px
  }
  .menu-btn.open-menu .menu-btn-medium {
    opacity: 0
  }
  .menu-btn.open-menu .menu-btn-bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -14px
  }
  .header-logo-title,
  .header-top-locat {
    display: none
  }
  .header-bottom {
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 84px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    padding-top: 18px;
    z-index: -1
  }
  .menu-list,
  .menu-list li {
    display: block
  }
  .menu-list li:hover {
    background: #8dbe22
  }
  .menu-list li:hover a {
    color: #fff
  }
  .menu-list li a {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    padding: 13px 15px 17px
  }
  .menu-link {
    display: block;
    margin-bottom: 30px
  }
  .noscroll {
    overflow: hidden
  }
  .header-bottom-phone-link {
    display: none
  }
  .header-bottom-wrapper {
    display: block;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    background: #f8f8f8
  }
  .header-bottom-icons {
    background: #eee;
    padding: 8px 0;
    margin-top: 32px
  }
  .header.sticky .menu-list li + li {
    margin: 0
  }
  .header-bottom-locat {
    max-width: 720px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header.sticky .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .header-bottom-icons-inner a + a {
    margin-left: 8px
  }
  .header-bottom-city svg {
    margin-right: 6px
  }
  .header-bottom-city span {
    font-size: 14px;
    line-height: 17px;
    color: #333;
    border-bottom: 1px dashed #333
  }
  .header-bottom-city span:hover {
    color: #224d93;
    border-bottom: 1px dashed #224d93
  }
  .header-top {
    border-bottom: none;
    padding: 18px 0
  }
}
@media (max-width:767px) {
  .header-bottom-icons-inner,
  ul.header-bottom-locat-wrapper a {
    max-width: 540px
  }
  .header-logo {
    background-image: url(../img/svg/logo-min.svg);
    width: 129px;
    height: 10px
  }
  .header-top .header-top-phone-number,
  .header-top-btn {
    display: none
  }
  .header-top .header-top-phone {
    background: #8dbe22;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header-top .header-top-phone svg {
    margin: 0
  }
  .header-top .header-top-phone svg path {
    fill: #fff
  }
  .header.sticky .header-wrapper {
    padding: 0
  }
  .header-bottom-wrapper {
    bottom: 0
  }
  .header-bottom {
    top: 48px
  }
  .menu-list li a {
    max-width: 540px
  }
  .header-top .header-top-ico.ico-bar {
    display: none
  }
  .header-bottom-locat,
  .header.sticky .header-wrapper .header-bottom-locat,
  .header.sticky .header-wrapper .menu-list li a {
    max-width: 540px
  }
  .header.sticky .header-top {
    padding: 6px 0
  }
  .header.sticky .header-wrapper .header-bottom {
    top: 48px
  }
  .header.sticky .header-wrapper .header-bottom-wrapper {
    bottom: 0
  }
  .header-inner {
    padding: 2px 0
  }
  .header-top {
    padding: 6px 0
  }
}
@media (max-width:575px) {
  .header-bottom-icons-inner,
  ul.header-bottom-locat-wrapper a {
    max-width: none
  }
  .header.sticky .header-top {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
  .header-bottom-locat {
    max-width: 100%;
    padding: 0 15px
  }
  .header.sticky .header-wrapper .header-bottom-locat,
  .header.sticky .header-wrapper .menu-list li a {
    max-width: 100%;
    padding-left: 15px
  }
  .header-top .header-top-phone-number {
    display: none
  }
  .menu-list li a {
    max-width: 100%;
    padding-left: 15px
  }
}
@media (min-width:1200px) {
  .header-bottom {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
  }
  ul.menu-list li + li:before {
    left: -70px
  }
}
@media (min-width:992px) {
  ul.menu-list li {
    position: relative
  }
  ul.menu-list li + li:before {
    position: absolute;
    content: "";
    background: #8dbe22;
    width: 6px;
    height: 6px;
    left: -70px;
    border-radius: 50px;
    top: 8px
  }
  .header:not(.sticky) .header-bottom {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
  }
}